@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Exo', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.img2{
    position: absolute;
    top: 0px;
    left: 0px;
}

.img5{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.img4{
    position: absolute;
    top: 0px;
    left: 0px;
}

.img1{
    position: absolute;
    top: 0px;
    right: 0px;
}
.img3{
   position: absolute;
    top: -10px;
    right: 37%; 
}

.img6{
    position: absolute;
    bottom: 55%;
    right: 0px;
}

.img8{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.img7{
    position: absolute;
    bottom: 50%;
    left: 0px;
}
.title{
    margin: 20px 0px;
}

.main{
    border: 8px solid black;
    border-radius: 24px;
    overflow: hidden;
}

.name{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color:  #7e7e7e;
    background-color: white;
    border-bottom: 1px solid black;
}

.name > span{
    color: #bbb;
}

.name-input{
    font-size: 24px;
    font-weight: 700;
    color: #4e54c8;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline: none;
    background-color: white;
}

.message-container{
    display: flex;
    flex-direction: column;
    background-color: #8f94fb;
    width: min(100%, 400px);
    max-width: 100%;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-left, .message-right{
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 80%;
    font-size: 18px;
    word-wrap: break-word;
}


.message-left{
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: #2f3ad7;
    box-shadow: -2px 2px 4px #dcdcdc;
    color: white;
}

.message-right{
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #a5a8d8;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: black;
}

.message-left > p > span, .message-right > p > span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}


.feedback{
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    color: #ffffff;
    text-align: center;
}

.message-form{
    display: flex;
    justify-content: space-between;
    width: min(100%, 400px);
    gap: 8px;
    border-top: 1px solid black;
}

.message-input{
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0px 12px;
    background-color: #fff;
}

.send-button{
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.v-divider{
    height: 48px;
    width: 2px;
    background-color: black;
}

.clients-total{
    margin: 20px 0px;
    color: #ffffff;
}




/* background */



.context {
    width: 100%;
    position: absolute;
    top: 50vh;
    z-index: 2;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    position: fixed;
    top: 0;
    left: 0;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* Mobile: small screens */
@media (max-width: 480px) {
    .main{
        border-width: 6px;
        border-radius: 16px;
        margin: 8px;
    }

    .name{
        font-size: 20px;
        padding: 6px 12px;
    }

    .name-input{
        font-size: 18px;
        margin: 0px 8px;
    }

    .message-container{
        height: 60vh;
        padding: 8px;
    }

    .message-left, .message-right{
        font-size: 16px;
        margin: 8px;
        max-width: 85%;
    }

    .message-form{
        width: min(100%, 400px);
        gap: 6px;
    }

    .message-input{
        height: 44px;
        font-size: 14px;
        padding: 0px 10px;
    }

    .send-button{
        height: 44px;
        padding: 0px 12px;
        font-size: 14px;
    }

    .v-divider{
        height: 44px;
    }

    .clients-total{
        margin: 12px 0px;
        font-size: 14px;
    }
}

/* Medium and larger screens */
@media (min-width: 481px) {
    .message-container{
        width: 400px;
        height: 600px;
        padding: 12px;
    }

    .message-form{
        width: 400px;
    }
}



